body {
  margin: 0;
  padding: 0;
}

.commingSoonHomepagewrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image:
    linear-gradient(to right, rgba(248, 201, 47, 0.82), rgba(57, 19, 117, 0.83)), url('../../assets/images/background.jpg');
  background-position: center;
  background-size: cover;
}

.commingSoonHomepageTitle {
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 100;
  margin: 0;
}

.commingSoonHomepageSubtitle {
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 100;
  margin: 0;
}